.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 45px;
    margin: 80px 40px;

    /* padding: 120px 82px 0px 104px; */
}

.cart-container {
    background: rgba(255, 153, 0, 0.3);
}

.cart-data {
    margin-top: 50px;
    margin-left: 23px;

}

.btn-brand {
    background-color: #FF9900;
    border: 0px;
    border-radius: 4px;
    color: #fff;
    height: 48px;
    width: 232px;
    font-weight: 400px;
    font-size: 17px;
    cursor: pointer;


}